

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}



#main, .bodyColor {
    background-color: var(--bs-body-bg) !important;
}

body {
    background-color: var(--body-bg) !important;
}