

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main, #main-container {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}


#main, .body-color,  #main-container  .container {
    background-color: var(--bs-body-bg) !important;
}



body {
    background-color: var(--body-bg) !important;
}

.text-indent {
    text-indent: 50px;
}