body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}


.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
}